[submodule "site/themes/hugo-future-imperfect-slim"]
	path = site/themes/hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
[submodule "mainroad"]
	path = mainroad
	url = https://github.com/vimux/mainroad
[submodule "site/themes/mainroad"]
	path = site/themes/mainroad
	url = https://github.com/vimux/mainroad
